
/* timer corner */
#timer-corner {
  position: fixed;
  top: 24px;
  right: 24px;  /* shift this closer */
  z-index: 10;

  display:flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
}

/* main container */
.game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-btn {
  display: block;
}

#gameboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* hole grid-item */
.hole {
  width: 120px;
  height: 120px;
  border-style: solid;
  border-radius: 50%;
  border-color: red;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hole.has-mole {
  background: #b98f63;
  cursor: pointer;
}

.hole img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none; /* click go thru to hole */
}